Repository dojoengine/dojo, pull requests merged in 2024-03, with the labels that each got.

#1685 fix: ensure sozo clean only affect base
  bin/sozo/src/commands/clean.rs
Labels: sozo

#1676 feat(torii): Expose block timestamp
  Cargo.lock
  crates/torii/core/src/engine.rs
  crates/torii/core/src/lib.rs
  crates/torii/core/src/processors/event_message.rs
  crates/torii/core/src/processors/metadata_update.rs
  crates/torii/core/src/processors/mod.rs
  crates/torii/core/src/processors/register_model.rs
  crates/torii/core/src/processors/store_del_record.rs
  crates/torii/core/src/processors/store_set_record.rs
  crates/torii/core/src/processors/store_transaction.rs
  crates/torii/core/src/sql.rs
  crates/torii/core/src/sql_test.rs
  crates/torii/core/src/types.rs
  crates/torii/core/src/utils.rs
  crates/torii/graphql/src/mapping.rs
  crates/torii/graphql/src/object/entity.rs
  crates/torii/graphql/src/object/event.rs
  crates/torii/graphql/src/object/model.rs
  crates/torii/graphql/src/object/model_data.rs
  crates/torii/graphql/src/query/mod.rs
  crates/torii/graphql/src/tests/events_test.rs
  crates/torii/graphql/src/tests/fixtures/events.sql
  crates/torii/graphql/src/tests/metadata_test.rs
  crates/torii/graphql/src/tests/mod.rs
  crates/torii/graphql/src/tests/subscription_test.rs
  crates/torii/libp2p/Cargo.toml
  crates/torii/libp2p/src/server/mod.rs
  crates/torii/migrations/20230316154230_setup.sql
  crates/torii/migrations/20231030154053_remove_syscalls_add_txn.sql
  crates/torii/migrations/20231127235011_entity_model.sql
  crates/torii/migrations/20240314182410_event_model.sql
Labels: torii

#1710 Sozo CLI --version displaying more info
  bin/sozo/src/args.rs
  crates/katana/rpc/rpc/tests/saya.rs
Labels: sozo, external-contributor

#1712 [sozo][auth]: revoke logic added
  bin/sozo/src/commands/auth.rs
  crates/sozo/ops/src/auth.rs
  crates/sozo/ops/src/execute.rs
  crates/sozo/ops/src/lib.rs
  crates/sozo/ops/src/tests/auth.rs
  crates/sozo/ops/src/tests/mod.rs
  crates/sozo/ops/src/tests/setup.rs
  crates/sozo/ops/src/tests/utils.rs
  crates/sozo/ops/src/utils.rs
Labels: sozo, external-contributor

#1704 Sozo call command
  bin/sozo/src/args.rs
  bin/sozo/src/commands/call.rs
  bin/sozo/src/commands/execute.rs
  bin/sozo/src/commands/mod.rs
  bin/sozo/src/utils.rs
  crates/dojo-test-utils/src/sequencer.rs
  crates/sozo/ops/src/call.rs
  crates/sozo/ops/src/lib.rs
  crates/sozo/ops/src/tests/call.rs
  crates/sozo/ops/src/tests/mod.rs
  crates/sozo/ops/src/tests/utils.rs
  crates/sozo/ops/src/utils.rs
Labels: sozo, external-contributor
