Repository dojoengine/dojo, pull requests merged in 2024-06, with the labels that each got.

#2032 feat(torii-libp2p): support new layout types for SNIP-12 typed data
  crates/torii/libp2p/src/server/mod.rs
  crates/torii/libp2p/src/tests.rs
Labels: torii

#2025 feat(sozo): add a subcommand to generate overlay files
  Cargo.lock
  bin/sozo/src/commands/clean.rs
  bin/sozo/src/commands/dev.rs
  bin/sozo/src/commands/migrate.rs
  crates/benches/src/deployer.rs
  crates/dojo-lang/src/compiler.rs
  crates/dojo-test-utils/src/migration.rs
  crates/dojo-world/src/contracts/world_test.rs
  crates/dojo-world/src/manifest/manifest_test.rs
  crates/dojo-world/src/manifest/mod.rs
  crates/dojo-world/src/manifest/types.rs
  crates/sozo/ops/Cargo.toml
  crates/sozo/ops/src/events.rs
  crates/sozo/ops/src/migration/migrate.rs
  crates/sozo/ops/src/migration/mod.rs
  crates/sozo/ops/src/migration/utils.rs
  crates/sozo/ops/src/tests/migration.rs
  examples/spawn-and-move/manifests/dev/overlays/contracts/dojo_examples_actions_actions.toml
  examples/spawn-and-move/manifests/dev/overlays/contracts/dojo_examples_others_others.toml
  examples/spawn-and-move/manifests/dev/overlays/dojo_base_base.toml
  examples/spawn-and-move/manifests/dev/overlays/dojo_world_world.toml
  examples/spawn-and-move/manifests/dev/overlays/models/dojo_examples_actions_actions_moved.toml
  examples/spawn-and-move/manifests/dev/overlays/models/dojo_examples_models_emote_message.toml
  examples/spawn-and-move/manifests/dev/overlays/models/dojo_examples_models_moves.toml
  examples/spawn-and-move/manifests/dev/overlays/models/dojo_examples_models_player_config.toml
  examples/spawn-and-move/manifests/dev/overlays/models/dojo_examples_models_position.toml
  examples/spawn-and-move/manifests/dev/overlays/models/dojo_examples_others_others_contract_initialized.toml
Labels: sozo

#2036 update dead links
  bin/sozo/README.md
  bin/torii/README.md
  crates/torii/README.md
  dojoup/README.md
Labels: documentation, external-contributor

#1917 [saya] Scheduler
  Cargo.lock
  Cargo.toml
  bin/saya/Cargo.toml
  bin/saya/README.md
  bin/saya/programs/cairo0differ.json
  bin/saya/programs/cairo0merger.json
  bin/saya/src/args/mod.rs
  bin/saya/src/args/test_saya_config_file.json
  bin/saya/src/main.rs
  bin/saya/src/tests.rs
  bin/scheduler/Cargo.toml
  bin/scheduler/README.md
  bin/scheduler/src/main.rs
  crates/dojo-core/src/base_test.cairo
  crates/dojo-core/src/config/component.cairo
  crates/dojo-core/src/config/interface.cairo
  crates/dojo-core/src/interfaces.cairo
  crates/dojo-core/src/world.cairo
  crates/dojo-core/src/world_test.cairo
  crates/dojo-lang/src/manifest_test_data/compiler_cairo/manifests/dev/abis/base/dojo_world_world.json
  crates/dojo-lang/src/manifest_test_data/compiler_cairo/manifests/dev/base/dojo_world_world.toml
  crates/dojo-world/src/contracts/abi/world.rs
  crates/dojo-world/src/metadata_test.rs
  crates/saya/README.md
  crates/saya/core/Cargo.toml
  crates/saya/core/src/dojo_os/mod.rs
  crates/saya/core/src/lib.rs
  crates/saya/core/src/prover/client.rs
  crates/saya/core/src/prover/extract.rs
  crates/saya/core/src/prover/loader.rs
  crates/saya/core/src/prover/mod.rs
  crates/saya/core/src/prover/program_input.rs
  crates/saya/core/src/prover/scheduler.rs
  crates/saya/core/src/prover/state_diff.rs
  crates/saya/core/src/prover/stone_image.rs
  crates/saya/core/src/verifier/mod.rs
  crates/saya/core/src/verifier/starknet.rs
  crates/sozo/ops/src/events.rs
  crates/sozo/ops/src/model.rs
  crates/torii/types-test/manifests/dev/base/dojo_world_world.toml
  examples/spawn-and-move/Scarb.toml
  examples/spawn-and-move/manifests/dev/abis/base/dojo_world_world.json
  examples/spawn-and-move/manifests/dev/abis/deployments/dojo_world_world.json
  examples/spawn-and-move/manifests/dev/base/dojo_world_world.toml
  examples/spawn-and-move/manifests/dev/manifest.json
  examples/spawn-and-move/manifests/dev/manifest.toml
Labels: saya

#2028 feat(dojo-bindgen): 2d+ arrays, bytearrays and enums serialization
  crates/dojo-bindgen/src/plugins/unity/mod.rs
Labels: enhancement

#2049 feat(core): add state mutability computation from world param
  crates/dojo-lang/src/contract.rs
  crates/dojo-lang/src/interface.rs
  crates/dojo-lang/src/lib.rs
  crates/dojo-lang/src/plugin_test_data/system
  crates/dojo-lang/src/syntax/mod.rs
  crates/dojo-lang/src/syntax/self_param.rs
  crates/dojo-lang/src/syntax/utils.rs
  crates/dojo-lang/src/syntax/world_param.rs
  crates/torii/types-test/src/contracts.cairo
  examples/spawn-and-move/manifests/dev/abis/base/contracts/dojo_examples_actions_actions.json
  examples/spawn-and-move/manifests/dev/abis/deployments/contracts/dojo_examples_actions_actions.json
  examples/spawn-and-move/manifests/dev/base/contracts/dojo_examples_actions_actions.toml
  examples/spawn-and-move/manifests/dev/manifest.json
  examples/spawn-and-move/manifests/dev/manifest.toml
  examples/spawn-and-move/src/actions.cairo
  examples/spawn-and-move/src/others.cairo
Labels: cairo-core

#1877 [dojo-core]: update gas logs
  crates/dojo-core/src/benchmarks.cairo
  crates/dojo-core/src/database/introspect.cairo
  crates/dojo-core/src/test_utils.cairo
  crates/dojo-core/src/world_test.cairo
Labels: cairo-core

#2023 Handle namespace for models and contracts
  .devcontainer/devcontainer.json
  .github/workflows/bench.yml
  .github/workflows/ci.yml
  .github/workflows/release-dispatch.yml
  Cargo.lock
  Cargo.toml
  crates/dojo-core/Scarb.lock
  crates/dojo-core/Scarb.toml
  crates/dojo-core/src/benchmarks.cairo
  crates/dojo-core/src/database/introspect.cairo
  crates/dojo-core/src/test_utils.cairo
  crates/dojo-core/src/world_test.cairo
  crates/dojo-lang/src/contract.rs
  crates/dojo-lang/src/interface.rs
  crates/dojo-lang/src/plugin.rs
  crates/dojo-lang/src/plugin_test_data/system
  crates/dojo-lang/src/syntax/self_param.rs
  crates/dojo-lang/src/syntax/world_param.rs
  crates/dojo-world/src/migration/strategy.rs
  crates/katana/runner/runner-macro/Cargo.toml
  crates/saya/core/Cargo.toml
  crates/sozo/ops/src/tests/migration.rs
  crates/torii/types-test/Scarb.lock
  crates/torii/types-test/Scarb.toml
  examples/spawn-and-move/Scarb.lock
  examples/spawn-and-move/Scarb.toml
  examples/spawn-and-move/src/actions.cairo
Labels: sozo, external-contributor, dojo-lang

#1925 test(katana): messaging e2e test
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/dojo-lang/src/manifest_test_data/compiler_cairo/Scarb.lock
  crates/katana/core/src/service/messaging/ethereum.rs
  crates/katana/primitives/src/utils/transaction.rs
  crates/katana/rpc/rpc/Cargo.toml
  crates/katana/rpc/rpc/tests/messaging.rs
  crates/katana/rpc/rpc/tests/test_data/cairo_l1_msg_contract.json
  crates/katana/rpc/rpc/tests/test_data/solidity/Contract1Compiled.json
  crates/katana/rpc/rpc/tests/test_data/solidity/StarknetMessagingLocalCompiled.json
  crates/katana/runner/Cargo.toml
  crates/katana/runner/src/lib.rs
  examples/spawn-and-move/Scarb.lock
Labels: katana, external-contributor
