Repository dojoengine/dojo, pull requests merged in 2024-04, with the labels that each got.

#1702 Update loggers to be namespaced and use structured logging
  bin/katana/src/main.rs
  bin/sozo/src/commands/dev.rs
  bin/sozo/src/commands/test.rs
  bin/torii/src/main.rs
  crates/dojo-lang/src/compiler.rs
  crates/dojo-lang/src/scarb_internal/mod.rs
  crates/katana/core/src/backend/mod.rs
  crates/katana/core/src/pool.rs
  crates/katana/core/src/service/block_producer.rs
  crates/katana/core/src/service/messaging/ethereum.rs
  crates/katana/core/src/service/messaging/mod.rs
  crates/katana/core/src/service/messaging/service.rs
  crates/katana/core/src/service/messaging/starknet.rs
  crates/katana/core/src/service/mod.rs
  crates/katana/executor/src/implementation/blockifier/mod.rs
  crates/katana/executor/src/implementation/sir/mod.rs
  crates/katana/executor/src/utils.rs
  crates/katana/storage/provider/src/providers/fork/backend.rs
  crates/metrics/src/prometheus_exporter.rs
  crates/saya/core/src/lib.rs
  crates/saya/provider/src/rpc/mod.rs
  crates/torii/core/src/engine.rs
  crates/torii/core/src/processors/event_message.rs
  crates/torii/core/src/processors/metadata_update.rs
  crates/torii/core/src/processors/register_model.rs
  crates/torii/core/src/processors/store_del_record.rs
  crates/torii/core/src/processors/store_set_record.rs
  crates/torii/grpc/src/server/logger.rs
  crates/torii/grpc/src/server/subscriptions/entity.rs
  crates/torii/grpc/src/server/subscriptions/event_message.rs
  crates/torii/grpc/src/server/subscriptions/model_diff.rs
  crates/torii/libp2p/src/client/mod.rs
  crates/torii/libp2p/src/server/mod.rs
Labels: external-contributor

#1698 feat(sozo): add ability to migrate the world
  crates/dojo-lang/src/compiler.rs
  crates/dojo-world/src/contracts/world_test.rs
  crates/dojo-world/src/manifest/manifest_test.rs
  crates/dojo-world/src/manifest/mod.rs
  crates/dojo-world/src/manifest/types.rs
  crates/dojo-world/src/migration/class.rs
  crates/dojo-world/src/migration/contract.rs
  crates/dojo-world/src/migration/mod.rs
  crates/dojo-world/src/migration/strategy.rs
  crates/dojo-world/src/migration/world.rs
  crates/sozo/ops/src/migration/mod.rs
  crates/torii/client/src/client/mod.rs
  crates/torii/types-test/manifests/base/base.toml
  crates/torii/types-test/manifests/base/contracts/records.toml
  crates/torii/types-test/manifests/base/models/record.toml
  crates/torii/types-test/manifests/base/models/record_sibling.toml
  crates/torii/types-test/manifests/base/models/subrecord.toml
  crates/torii/types-test/manifests/base/world.toml
  examples/spawn-and-move/manifests/base/base.toml
  examples/spawn-and-move/manifests/base/contracts/actions.toml
  examples/spawn-and-move/manifests/base/models/moved.toml
  examples/spawn-and-move/manifests/base/models/moves.toml
  examples/spawn-and-move/manifests/base/models/position.toml
  examples/spawn-and-move/manifests/base/world.toml
  examples/spawn-and-move/manifests/deployments/KATANA.json
  examples/spawn-and-move/manifests/deployments/KATANA.toml
  examples/spawn-and-move/manifests/overlays/contracts/actions.toml
Labels: sozo

#1777 fix: ensure events command picks the correct manifests path for ABIs
  bin/sozo/src/commands/events.rs
  crates/sozo/ops/src/events.rs
Labels: sozo

#1773 style(katana-db): standardize naming for historical tables
  crates/katana/storage/db/src/tables.rs
  crates/katana/storage/provider/src/providers/db/mod.rs
  crates/katana/storage/provider/src/providers/db/state.rs
Labels: katana

#1774 refactor(katana-db): convert `StorageChangeSet` into a normal table
  crates/katana/storage/db/src/codecs/postcard.rs
  crates/katana/storage/db/src/models/contract.rs
  crates/katana/storage/db/src/models/storage.rs
  crates/katana/storage/db/src/tables.rs
  crates/katana/storage/provider/src/providers/db/mod.rs
  crates/katana/storage/provider/src/providers/db/state.rs
Labels: katana

#1776 test(katana-db): ensure key/value types implement their respective traits
  crates/katana/storage/db/src/models/block.rs
  crates/katana/storage/db/src/models/contract.rs
  crates/katana/storage/db/src/models/storage.rs
  crates/katana/storage/db/src/tables.rs
Labels: katana

#1775 feat(katana-db): integer set using roaring bitmap
  Cargo.lock
  crates/katana/storage/db/Cargo.toml
  crates/katana/storage/db/src/codecs/postcard.rs
  crates/katana/storage/db/src/models/contract.rs
  crates/katana/storage/db/src/models/list.rs
  crates/katana/storage/db/src/models/mod.rs
  crates/katana/storage/db/src/models/storage.rs
  crates/katana/storage/db/src/tables.rs
  crates/katana/storage/provider/src/providers/db/mod.rs
  crates/katana/storage/provider/src/providers/db/state.rs
Labels: katana

#1782 feat: add verification of the RPC version
  Cargo.lock
  bin/sozo/Cargo.toml
  bin/sozo/src/commands/migrate.rs
  crates/katana/rpc/rpc/tests/torii.rs
Labels: sozo

#1790 fix: incorrect assumption about migration output
  crates/dojo-world/src/migration/mod.rs
  crates/sozo/ops/src/migration/mod.rs
Labels: sozo

#1781 feat: add metadata section to the world contract manifest
  bin/sozo/src/commands/dev.rs
  bin/sozo/src/commands/migrate.rs
  bin/sozo/src/commands/options/starknet.rs
  crates/dojo-world/src/manifest/mod.rs
  crates/dojo-world/src/manifest/types.rs
  crates/sozo/ops/src/migration/migration_test.rs
  crates/sozo/ops/src/migration/mod.rs
  crates/torii/types-test/Scarb.lock
  examples/spawn-and-move/manifests/dev/manifest.json
  examples/spawn-and-move/manifests/dev/manifest.toml
Labels: sozo

#1791 feat(katana): add executor metrics
  Cargo.lock
  crates/katana/core/Cargo.toml
  crates/katana/core/src/backend/mod.rs
  crates/katana/core/src/sequencer.rs
  crates/katana/core/src/service/block_producer.rs
  crates/katana/core/src/service/metrics.rs
  crates/katana/core/src/service/mod.rs
  crates/katana/executor/src/abstraction/mod.rs
  crates/katana/executor/src/implementation/blockifier/mod.rs
  crates/katana/executor/src/implementation/sir/mod.rs
  crates/katana/executor/tests/executor.rs
  crates/katana/executor/tests/simulate.rs
  crates/katana/primitives/src/receipt.rs
Labels: katana

#1682 feat: store contract abi and source in contract metadata
  Cargo.lock
  bin/sozo/src/commands/dev.rs
  bin/sozo/src/commands/migrate.rs
  bin/sozo/src/utils.rs
  crates/dojo-lang/Cargo.toml
  crates/dojo-lang/src/compiler.rs
  crates/dojo-test-utils/src/compiler.rs
  crates/dojo-world/src/metadata.rs
  crates/dojo-world/src/metadata_test.rs
  crates/dojo-world/src/metadata_test_data/abi.json
  crates/dojo-world/src/metadata_test_data/source.cairo
  crates/dojo-world/src/migration/mod.rs
  crates/sozo/ops/Cargo.toml
  crates/sozo/ops/src/migration/mod.rs
  crates/sozo/ops/src/tests/migration.rs
  crates/sozo/ops/src/tests/mod.rs
  crates/sozo/ops/src/tests/setup.rs
  crates/torii/graphql/src/tests/metadata_test.rs
  crates/torii/libp2p/src/server/mod.rs
Labels: sozo, external-contributor

#1783 Add new TypeScript bindgen
  bin/sozo/src/commands/build.rs
  crates/dojo-bindgen/src/lib.rs
  crates/dojo-bindgen/src/plugins/mod.rs
  crates/dojo-bindgen/src/plugins/typescript_v2/mod.rs
  crates/dojo-bindgen/src/test_data/mocks/dojo_examples.ts
Labels: sozo

#1784 fix: rework clean command to be more intuitive and propose a clean all
  bin/sozo/src/commands/clean.rs
  crates/dojo-test-utils/src/compiler.rs
  crates/sozo/ops/src/migration/mod.rs
Labels: sozo

#1823 fix: use `fee_estimate_multiplier` on more places
  bin/sozo/src/commands/dev.rs
  bin/sozo/src/commands/execute.rs
  bin/sozo/src/commands/migrate.rs
  bin/sozo/src/commands/options/transaction.rs
  bin/sozo/tests/register_test.rs
  crates/dojo-world/src/contracts/world_test.rs
  crates/dojo-world/src/migration/mod.rs
  crates/dojo-world/src/utils.rs
  crates/sozo/ops/src/auth.rs
  crates/sozo/ops/src/execute.rs
  crates/sozo/ops/src/migration/migration_test.rs
  crates/sozo/ops/src/migration/mod.rs
  crates/sozo/ops/src/register.rs
  crates/sozo/ops/src/tests/auth.rs
  crates/sozo/ops/src/tests/migration.rs
  crates/sozo/ops/src/tests/setup.rs
  crates/torii/core/src/sql_test.rs
  crates/torii/graphql/src/tests/mod.rs
  crates/torii/grpc/src/server/tests/entities_test.rs
Labels: sozo

#1846 Update defaults for new TypeScript bindgen
  crates/dojo-bindgen/src/plugins/typescript_v2/mod.rs
  crates/dojo-bindgen/src/test_data/mocks/dojo_examples.ts
Labels: sozo

#1601 [sozo] Deploy Account
  Cargo.lock
  Cargo.toml
  bin/sozo/Cargo.toml
  bin/sozo/README.md
  bin/sozo/src/commands/account.rs
  bin/sozo/src/commands/keystore.rs
  bin/sozo/src/commands/mod.rs
  bin/sozo/src/commands/options/account.rs
  bin/sozo/src/commands/options/fee.rs
  bin/sozo/src/commands/options/mod.rs
  bin/sozo/src/commands/options/signer.rs
  bin/sozo/tests/test_account.rs
  bin/sozo/tests/test_data/account/account.json
  bin/sozo/tests/test_data/keystore/keystore.json
  bin/sozo/tests/test_keystore.rs
  crates/dojo-world/src/utils.rs
  crates/sozo/ops/Cargo.toml
  crates/sozo/ops/src/account.rs
  crates/sozo/ops/src/keystore.rs
  crates/sozo/ops/src/lib.rs
Labels: sozo, external-contributor

#1852 fix: ensure transaction executions are stored with fork and db providers
  crates/katana/core/src/backend/storage.rs
  crates/katana/storage/db/src/tables.rs
  crates/katana/storage/provider/src/error.rs
  crates/katana/storage/provider/src/providers/db/mod.rs
  crates/katana/storage/provider/src/providers/fork/mod.rs
  crates/katana/storage/provider/tests/block.rs
  crates/katana/storage/provider/tests/utils.rs
Labels: katana

#1826 feat(torii-client): expose grpc event messages
  crates/torii/client/src/client/mod.rs
  crates/torii/grpc/proto/world.proto
  crates/torii/grpc/src/client.rs
Labels: torii

#1856 feat: add raw max fee to `TransactionsOptions`
  bin/sozo/src/commands/options/transaction.rs
  crates/dojo-world/src/migration/mod.rs
  crates/dojo-world/src/utils.rs
  crates/sozo/ops/src/tests/migration.rs
Labels: sozo, external-contributor

#1848 refactor(sozo): migration logic to be more robust and testable
  bin/sozo/src/commands/clean.rs
  bin/sozo/src/commands/dev.rs
  bin/sozo/src/commands/migrate.rs
  bin/sozo/tests/register_test.rs
  crates/dojo-test-utils/src/migration.rs
  crates/dojo-world/src/contracts/world_test.rs
  crates/dojo-world/src/manifest/types.rs
  crates/dojo-world/src/migration/class.rs
  crates/dojo-world/src/migration/strategy.rs
  crates/dojo-world/src/migration/world.rs
  crates/sozo/ops/src/migration/migrate.rs
  crates/sozo/ops/src/migration/migration_test.rs
  crates/sozo/ops/src/migration/mod.rs
  crates/sozo/ops/src/migration/utils.rs
  crates/sozo/ops/src/tests/migration.rs
  crates/sozo/ops/src/tests/setup.rs
  crates/torii/core/src/sql_test.rs
  crates/torii/graphql/src/tests/mod.rs
  crates/torii/grpc/src/server/tests/entities_test.rs
Labels: sozo

#1861 Display default values for EnvironmentOptions in katana cli
  bin/katana/src/args.rs
Labels: katana

#1881 Bump alloy to 0.7.0
  Cargo.lock
  Cargo.toml
  crates/katana/core/Cargo.toml
  crates/katana/core/src/service/messaging/ethereum.rs
Labels: katana

#1798 feat(torii): process pending block
  crates/torii/core/src/engine.rs
  crates/torii/core/src/processors/event_message.rs
  crates/torii/core/src/processors/metadata_update.rs
  crates/torii/core/src/processors/mod.rs
  crates/torii/core/src/processors/register_model.rs
  crates/torii/core/src/processors/store_del_record.rs
  crates/torii/core/src/processors/store_set_record.rs
  crates/torii/core/src/processors/store_transaction.rs
  crates/torii/core/src/sql.rs
  crates/torii/core/src/sql_test.rs
  crates/torii/graphql/src/tests/mod.rs
  crates/torii/grpc/src/server/tests/entities_test.rs
  crates/torii/migrations/20240426211245_pending_block.sql
Labels: torii

#1890 Modified From<TransactionPreValidationError> for ExecutionError to properly display actual and expected nonce
  crates/katana/executor/src/implementation/blockifier/error.rs
Labels: katana

#1891 fix: ensure account defaults to block pending
  bin/sozo/src/commands/options/account.rs
  crates/dojo-test-utils/src/sequencer.rs
  crates/katana/executor/tests/fixtures/transaction.rs
  crates/katana/runner/src/prefunded.rs
Labels: sozo
