Repository dojoengine/dojo, pull requests merged in 2024-08, with the labels that each got.

#2147 feat(torii): enable any build (not just wasm) to connect to Slot
  Cargo.lock
  Cargo.toml
  crates/torii/grpc/src/client.rs
Labels: torii, external-contributor

#2309 feat(dojo-lang): add systems to contract's manifest and fix `DojoAuxData` gathering
  bin/sozo/src/commands/build.rs
  bin/sozo/src/commands/test.rs
  crates/dojo-lang/src/compiler.rs
  crates/dojo-lang/src/compiler_test.rs
  crates/dojo-lang/src/contract.rs
  crates/dojo-lang/src/inline_macros/delete.rs
  crates/dojo-lang/src/inline_macros/get.rs
  crates/dojo-lang/src/inline_macros/set.rs
  crates/dojo-lang/src/inline_macros/utils.rs
  crates/dojo-lang/src/interface.rs
  crates/dojo-lang/src/manifest_test_data/compiler_cairo/manifests/dev/base/abis/contracts/ccf-cairo_v240-8d921297.json
  crates/dojo-lang/src/manifest_test_data/compiler_cairo/manifests/dev/base/abis/contracts/ccf-cairo_v260-465ec7fe.json
  crates/dojo-lang/src/manifest_test_data/compiler_cairo/manifests/dev/base/contracts/ccf-cairo_v240-8d921297.toml
  crates/dojo-lang/src/manifest_test_data/compiler_cairo/manifests/dev/base/contracts/ccf-cairo_v260-465ec7fe.toml
  crates/dojo-lang/src/plugin.rs
  crates/dojo-lang/src/semantics/utils.rs
  crates/dojo-world/src/manifest/types.rs
  crates/dojo-world/src/migration/mod.rs
  crates/katana/runner/src/lib.rs
  crates/sozo/ops/src/migration/migrate.rs
  crates/sozo/ops/src/tests/migration.rs
  examples/spawn-and-move/manifests/dev/base/contracts/dojo_examples-actions-40b6994c.toml
  examples/spawn-and-move/manifests/dev/base/contracts/dojo_examples-dungeon-6620e0e6.toml
  examples/spawn-and-move/manifests/dev/base/contracts/dojo_examples-mock_token-31599eb2.toml
  examples/spawn-and-move/manifests/dev/base/contracts/dojo_examples-others-61de2c18.toml
  examples/spawn-and-move/manifests/dev/deployment/manifest.json
  examples/spawn-and-move/manifests/dev/deployment/manifest.toml
  examples/spawn-and-move/manifests/release/base/contracts/dojo_examples-actions-40b6994c.toml
  examples/spawn-and-move/manifests/release/base/contracts/dojo_examples-dungeon-6620e0e6.toml
  examples/spawn-and-move/manifests/release/base/contracts/dojo_examples-mock_token-31599eb2.toml
  examples/spawn-and-move/manifests/release/base/contracts/dojo_examples-others-61de2c18.toml
  scripts/build_cairo_projects.sh
  spawn-and-move-db.tar.gz
  types-test-db.tar.gz
Labels: dojo-lang

#2308 feat(torii-libp2p): typed data from model
  crates/torii/libp2p/mocks/model_PlayerConfig.json
  crates/torii/libp2p/src/errors.rs
  crates/torii/libp2p/src/server/mod.rs
  crates/torii/libp2p/src/tests.rs
  crates/torii/libp2p/src/typed_data.rs
Labels: torii

#2316 feat(dojo-lang): add warnings for migrations with prints
  crates/dojo-lang/src/compiler.rs
Labels: external-contributor

#2326 fix(katana): ensure messages are ordered
  crates/katana/core/src/service/messaging/ethereum.rs
  crates/katana/core/src/service/messaging/starknet.rs
Labels: external-contributor
