Repository dojoengine/dojo, pull requests merged in 2024-05, with the labels that each got.

#1867 [sozo] add trace logs
  Cargo.lock
  bin/sozo/Cargo.toml
  bin/sozo/src/args.rs
  bin/sozo/src/commands/account.rs
  bin/sozo/src/commands/auth.rs
  bin/sozo/src/commands/build.rs
  bin/sozo/src/commands/call.rs
  bin/sozo/src/commands/clean.rs
  bin/sozo/src/commands/dev.rs
  bin/sozo/src/commands/events.rs
  bin/sozo/src/commands/execute.rs
  bin/sozo/src/commands/init.rs
  bin/sozo/src/commands/migrate.rs
  bin/sozo/src/commands/mod.rs
  bin/sozo/src/commands/options/account.rs
  bin/sozo/src/commands/options/fee.rs
  bin/sozo/src/commands/options/signer.rs
  bin/sozo/src/commands/options/starknet.rs
  bin/sozo/src/commands/options/transaction.rs
  bin/sozo/src/commands/options/world.rs
  bin/sozo/src/commands/register.rs
  bin/sozo/src/main.rs
  crates/dojo-lang/src/scarb_internal/mod.rs
Labels: sozo, external-contributor

#1879 fix: allow ref self until sozo can handle starknet contracts
  crates/dojo-lang/src/contract.rs
  crates/dojo-lang/src/plugin_test_data/system
  crates/dojo-world/src/metadata_test.rs
  crates/sozo/ops/src/tests/migration.rs
Labels: dojo-lang

#1883 [saya] demo
  Cargo.lock
  Cargo.toml
  bin/saya/README.md
  bin/saya/src/args/mod.rs
  bin/saya/src/args/proof.rs
  bin/saya/src/args/test_saya_config_file.json
  crates/dojo-core/src/base_test.cairo
  crates/dojo-core/src/benchmarks.cairo
  crates/dojo-core/src/components.cairo
  crates/dojo-core/src/components/upgradeable.cairo
  crates/dojo-core/src/config.cairo
  crates/dojo-core/src/config/component.cairo
  crates/dojo-core/src/config/interface.cairo
  crates/dojo-core/src/database/storage.cairo
  crates/dojo-core/src/interfaces.cairo
  crates/dojo-core/src/lib.cairo
  crates/dojo-core/src/model.cairo
  crates/dojo-core/src/packing.cairo
  crates/dojo-core/src/resource_metadata.cairo
  crates/dojo-core/src/world.cairo
  crates/dojo-core/src/world_test.cairo
  crates/dojo-world/abigen/src/main.rs
  crates/dojo-world/src/contracts/abi/model.rs
  crates/dojo-world/src/contracts/abi/world.rs
  crates/saya/core/Cargo.toml
  crates/saya/core/src/dojo_os/felt.rs
  crates/saya/core/src/dojo_os/input.rs
  crates/saya/core/src/dojo_os/mod.rs
  crates/saya/core/src/dojo_os/transaction.rs
  crates/saya/core/src/lib.rs
  crates/saya/core/src/prover/client.rs
  crates/saya/core/src/prover/mod.rs
  crates/saya/core/src/prover/program_input.rs
  crates/saya/core/src/prover/serializer.rs
  crates/saya/core/src/prover/state_diff.rs
  crates/saya/core/src/starknet_os/mod.rs
  crates/saya/core/src/verifier/mod.rs
  crates/saya/core/src/verifier/starknet.rs
  crates/sozo/ops/src/events.rs
  crates/torii/types-test/manifests/dev/abis/base/dojo_world_world.json
  crates/torii/types-test/manifests/dev/base/dojo_world_world.toml
  examples/spawn-and-move/manifests/dev/abis/base/dojo_world_world.json
  examples/spawn-and-move/manifests/dev/abis/deployments/contracts/dojo_examples_actions_actions.json
  examples/spawn-and-move/manifests/dev/abis/deployments/dojo_world_world.json
  examples/spawn-and-move/manifests/dev/abis/deployments/models/dojo_examples_actions_actions_moved.json
  examples/spawn-and-move/manifests/dev/abis/deployments/models/dojo_examples_models_emote_message.json
  examples/spawn-and-move/manifests/dev/abis/deployments/models/dojo_examples_models_moves.json
  examples/spawn-and-move/manifests/dev/abis/deployments/models/dojo_examples_models_position.json
  examples/spawn-and-move/manifests/dev/base/dojo_world_world.toml
  examples/spawn-and-move/manifests/dev/manifest.json
  examples/spawn-and-move/manifests/dev/manifest.toml
Labels: saya

#1880 feat(sozo): automatically authorize models to migrated systems based on models specified in overlays
  Cargo.lock
  Cargo.toml
  bin/sozo/Cargo.toml
  bin/sozo/src/commands/auth.rs
  bin/sozo/src/commands/clean.rs
  bin/sozo/src/commands/execute.rs
  bin/sozo/src/commands/migrate.rs
  crates/dojo-bindgen/Cargo.toml
  crates/dojo-test-utils/src/migration.rs
  crates/dojo-world/Cargo.toml
  crates/sozo/ops/Cargo.toml
  crates/sozo/ops/src/auth.rs
  crates/sozo/ops/src/events.rs
  crates/sozo/ops/src/execute.rs
  crates/sozo/ops/src/migration/auto_auth.rs
  crates/sozo/ops/src/migration/migrate.rs
  crates/sozo/ops/src/migration/mod.rs
  crates/sozo/ops/src/register.rs
  crates/sozo/ops/src/tests/auth.rs
  crates/sozo/ops/src/tests/migration.rs
  crates/sozo/ops/src/utils.rs
  examples/spawn-and-move/manifests/dev/manifest.json
  examples/spawn-and-move/manifests/dev/manifest.toml
  examples/spawn-and-move/manifests/dev/overlays/contracts/dojo_examples_actions_actions.toml
  scripts/rebuild_test_artifacts.sh
Labels: sozo

#1963 fix(sozo/katana): remove max_bytecode_size limitation
  crates/dojo-world/src/migration/mod.rs
  crates/katana/primitives/src/conversion/rpc.rs
  crates/katana/primitives/src/utils/class.rs
  crates/katana/rpc/rpc/tests/common/mod.rs
  crates/sozo/ops/src/migration/migrate.rs
Labels: sozo

#1939 dev: general cleanup, bumping of library versions, etc...
  Cargo.lock
  Cargo.toml
  bin/dojo-language-server/Cargo.toml
  bin/katana/Cargo.toml
  bin/sozo/Cargo.toml
  bin/sozo/src/commands/register.rs
  bin/torii/Cargo.toml
  crates/benches/Cargo.toml
  crates/common/Cargo.toml
  crates/dojo-lang/Cargo.toml
  crates/dojo-test-utils/Cargo.toml
  crates/dojo-types/Cargo.toml
  crates/dojo-world/Cargo.toml
  crates/katana/core/Cargo.toml
  crates/katana/primitives/Cargo.toml
  crates/katana/rpc/rpc/Cargo.toml
  crates/katana/runner/Cargo.toml
  crates/katana/storage/codecs/Cargo.toml
  crates/katana/storage/db/Cargo.toml
  crates/katana/storage/provider/Cargo.toml
  crates/saya/core/Cargo.toml
  crates/saya/provider/Cargo.toml
  crates/sozo/ops/Cargo.toml
  crates/sozo/ops/src/auth.rs
  crates/sozo/ops/src/model.rs
  crates/torii/client/Cargo.toml
  crates/torii/core/Cargo.toml
  crates/torii/grpc/Cargo.toml
  crates/torii/libp2p/Cargo.toml
  crates/torii/server/Cargo.toml
Labels: sozo

#1965 Storage layout improvement
  crates/dojo-core/src/base_test.cairo
  crates/dojo-core/src/database.cairo
  crates/dojo-core/src/database/introspect.cairo
  crates/dojo-core/src/database/introspect_test.cairo
  crates/dojo-core/src/database/storage.cairo
  crates/dojo-core/src/database/utils.cairo
  crates/dojo-core/src/model.cairo
  crates/dojo-core/src/packing.cairo
  crates/dojo-core/src/packing_test.cairo
  crates/dojo-core/src/resource_metadata.cairo
  crates/dojo-core/src/test_utils.cairo
  crates/dojo-core/src/world.cairo
  crates/dojo-core/src/world_test.cairo
  crates/dojo-lang/src/introspect.rs
  crates/dojo-lang/src/introspect/layout.rs
  crates/dojo-lang/src/introspect/mod.rs
  crates/dojo-lang/src/introspect/size.rs
  crates/dojo-lang/src/introspect/ty.rs
  crates/dojo-lang/src/introspect/utils.rs
  crates/dojo-lang/src/model.rs
  crates/dojo-lang/src/plugin.rs
  crates/dojo-lang/src/plugin_test_data/introspect
  crates/dojo-types/src/schema.rs
  crates/dojo-world/src/contracts/abi/model.rs
  crates/dojo-world/src/contracts/abi/world.rs
  crates/dojo-world/src/contracts/model.rs
  examples/spawn-and-move/manifests/dev/abis/base/dojo_world_world.json
  examples/spawn-and-move/manifests/dev/abis/base/models/dojo_examples_models_emote_message.json
  examples/spawn-and-move/manifests/dev/abis/base/models/dojo_examples_models_moves.json
  examples/spawn-and-move/manifests/dev/abis/base/models/dojo_examples_models_position.json
  examples/spawn-and-move/manifests/dev/base/contracts/dojo_examples_actions_actions.toml
  examples/spawn-and-move/manifests/dev/base/dojo_world_world.toml
  examples/spawn-and-move/manifests/dev/base/models/dojo_examples_models_emote_message.toml
  examples/spawn-and-move/manifests/dev/base/models/dojo_examples_models_moves.toml
  examples/spawn-and-move/manifests/dev/base/models/dojo_examples_models_position.toml
Labels: cairo-core

#1966 fix: add more logic on semver check of Starknet API
  bin/sozo/src/commands/migrate.rs
Labels: sozo

#1986 refactor(katana): replace cursor-based api with by block basis for simplicity
  Cargo.lock
  crates/katana/rpc/rpc-api/src/saya.rs
  crates/katana/rpc/rpc-types/src/trace.rs
  crates/katana/rpc/rpc/Cargo.toml
  crates/katana/rpc/rpc/src/saya.rs
  crates/katana/rpc/rpc/tests/saya.rs
  crates/katana/storage/provider/src/lib.rs
  crates/katana/storage/provider/src/providers/db/mod.rs
  crates/katana/storage/provider/src/providers/fork/mod.rs
  crates/katana/storage/provider/src/providers/in_memory/mod.rs
  crates/katana/storage/provider/src/traits/transaction.rs
  crates/katana/storage/provider/tests/block.rs
Labels: katana

#1987 Refactor `saya` to fetch the traces using the new API
  crates/katana/rpc/rpc-api/src/saya.rs
  crates/katana/rpc/rpc-types/src/transaction.rs
  crates/katana/rpc/rpc/src/saya.rs
  crates/katana/rpc/rpc/tests/saya.rs
  crates/saya/core/src/lib.rs
  crates/saya/core/src/prover/program_input.rs
  crates/saya/provider/src/provider.rs
  crates/saya/provider/src/rpc/mod.rs
Labels: saya

#1980 Add doc comments for `L1HandlerTx`
  crates/katana/primitives/src/transaction.rs
Labels: katana

#1981 fix(katana): l1/l2 messaging hash computations
  crates/katana/core/src/service/messaging/ethereum.rs
  crates/katana/core/src/service/messaging/starknet.rs
  crates/katana/primitives/src/utils/transaction.rs
  crates/katana/rpc/rpc-types/src/message.rs
Labels: katana

#1958 Katana and ArgentX wallet
  crates/katana/rpc/rpc/src/lib.rs
  crates/katana/scripts/declare-argent-account.sh
Labels: katana, external-contributor

#1999 Unified crate for Cairo deps used in Katana
  Cargo.lock
  Cargo.toml
  crates/katana/cairo/Cargo.toml
  crates/katana/cairo/src/lib.rs
  crates/katana/executor/Cargo.toml
  crates/katana/executor/benches/utils.rs
  crates/katana/executor/src/implementation/blockifier/utils.rs
  crates/katana/executor/tests/fixtures/mod.rs
  crates/katana/primitives/Cargo.toml
  crates/katana/primitives/src/class.rs
  crates/katana/primitives/src/conversion/rpc.rs
  crates/katana/primitives/src/genesis/json.rs
  crates/katana/primitives/src/utils/class.rs
Labels: katana

#2005 docs(sozo): update error message for more context
  bin/sozo/src/main.rs
  crates/dojo-world/src/migration/strategy.rs
  crates/sozo/ops/src/migration/mod.rs
Labels: sozo

#1964 feat: init calldata for dojo contract
  Cargo.lock
  Cargo.toml
  crates/dojo-bindgen/src/lib.rs
  crates/dojo-core/src/base_test.cairo
  crates/dojo-core/src/world.cairo
  crates/dojo-core/src/world_test.cairo
  crates/dojo-lang/src/contract.rs
  crates/dojo-lang/src/manifest_test_data/compiler_cairo/manifests/dev/abis/base/dojo_world_world.json
  crates/dojo-lang/src/manifest_test_data/compiler_cairo/manifests/dev/base/contracts/compiler_cairo_cairo_24_cairo_v240.toml
  crates/dojo-lang/src/manifest_test_data/compiler_cairo/manifests/dev/base/contracts/compiler_cairo_cairo_26_cairo_v260.toml
  crates/dojo-lang/src/manifest_test_data/compiler_cairo/manifests/dev/base/dojo_world_world.toml
  crates/dojo-lang/src/plugin.rs
  crates/dojo-lang/src/plugin_test_data/system
  crates/dojo-test-utils/src/compiler.rs
  crates/dojo-test-utils/src/migration.rs
  crates/dojo-world/Cargo.toml
  crates/dojo-world/src/contracts/abi/world.rs
  crates/dojo-world/src/contracts/world_test.rs
  crates/dojo-world/src/manifest/manifest_test.rs
  crates/dojo-world/src/manifest/mod.rs
  crates/dojo-world/src/manifest/types.rs
  crates/dojo-world/src/metadata_test.rs
  crates/dojo-world/src/migration/class.rs
  crates/dojo-world/src/migration/contract.rs
  crates/dojo-world/src/migration/mod.rs
  crates/dojo-world/src/migration/strategy.rs
  crates/dojo-world/src/migration/world.rs
  crates/dojo-world/src/migration/world_test.rs
  crates/sozo/ops/src/migration/migrate.rs
  crates/sozo/ops/src/migration/mod.rs
  crates/sozo/ops/src/tests/migration.rs
  crates/torii/core/src/sql_test.rs
  crates/torii/grpc/src/server/tests/entities_test.rs
  crates/torii/types-test/manifests/dev/base/dojo_world_world.toml
  examples/spawn-and-move/Scarb.toml
  examples/spawn-and-move/manifests/dev/abis/base/contracts/dojo_examples_actions_actions.json
  examples/spawn-and-move/manifests/dev/abis/base/contracts/dojo_examples_others_others.json
  examples/spawn-and-move/manifests/dev/abis/base/dojo_world_world.json
  examples/spawn-and-move/manifests/dev/abis/base/models/dojo_examples_others_others_contract_initialized.json
  examples/spawn-and-move/manifests/dev/abis/deployments/contracts/dojo_examples_actions_actions.json
  examples/spawn-and-move/manifests/dev/abis/deployments/contracts/dojo_examples_others_others.json
  examples/spawn-and-move/manifests/dev/abis/deployments/dojo_world_world.json
  examples/spawn-and-move/manifests/dev/abis/deployments/models/dojo_examples_others_others_contract_initialized.json
  examples/spawn-and-move/manifests/dev/base/contracts/dojo_examples_actions_actions.toml
  examples/spawn-and-move/manifests/dev/base/contracts/dojo_examples_others_others.toml
  examples/spawn-and-move/manifests/dev/base/dojo_world_world.toml
  examples/spawn-and-move/manifests/dev/base/models/dojo_examples_others_others_contract_initialized.toml
  examples/spawn-and-move/manifests/dev/manifest.json
  examples/spawn-and-move/manifests/dev/manifest.toml
  examples/spawn-and-move/manifests/dev/overlays/contracts/dojo_examples_actions_actions.toml
  examples/spawn-and-move/manifests/dev/overlays/contracts/dojo_examples_others_others.toml
  examples/spawn-and-move/src/actions.cairo
  examples/spawn-and-move/src/lib.cairo
  examples/spawn-and-move/src/others.cairo
Labels: cairo-core, sozo

#2002 Sozo model layout and commands
  .github/workflows/ci.yml
  Cargo.lock
  bin/sozo/src/commands/model.rs
  crates/dojo-core/src/base_test.cairo
  crates/dojo-core/src/database/introspect.cairo
  crates/dojo-core/src/database/introspect_test.cairo
  crates/dojo-core/src/world.cairo
  crates/dojo-lang/src/introspect/layout.rs
  crates/dojo-lang/src/introspect/mod.rs
  crates/dojo-lang/src/introspect/size.rs
  crates/dojo-lang/src/introspect/utils.rs
  crates/dojo-lang/src/manifest_test_data/compiler_cairo/manifests/dev/base/dojo_world_world.toml
  crates/dojo-lang/src/plugin_test_data/introspect
  crates/dojo-lang/src/plugin_test_data/model
  crates/dojo-types/src/schema.rs
  crates/dojo-world/src/contracts/model_test.rs
  crates/dojo-world/src/metadata_test.rs
  crates/sozo/ops/src/model.rs
  crates/torii/core/Cargo.toml
  crates/torii/core/src/sql_test.rs
  crates/torii/types-test/manifests/dev/base/dojo_world_world.toml
  dojoup/dojoup
  examples/spawn-and-move/Scarb.toml
  examples/spawn-and-move/manifests/dev/base/contracts/dojo_examples_actions_actions.toml
  examples/spawn-and-move/manifests/dev/base/dojo_world_world.toml
  examples/spawn-and-move/manifests/dev/base/models/dojo_examples_actions_actions_moved.toml
  examples/spawn-and-move/manifests/dev/base/models/dojo_examples_models_emote_message.toml
  examples/spawn-and-move/manifests/dev/base/models/dojo_examples_models_moves.toml
  examples/spawn-and-move/manifests/dev/base/models/dojo_examples_models_player_config.toml
  examples/spawn-and-move/manifests/dev/base/models/dojo_examples_models_position.toml
  examples/spawn-and-move/manifests/dev/manifest.json
  examples/spawn-and-move/manifests/dev/manifest.toml
  examples/spawn-and-move/src/models.cairo
Labels: sozo, dojo-lang

#1994 feat(torii-core): multi dimensional array support
  crates/torii/core/src/sql.rs
  crates/torii/graphql/src/object/entity.rs
  crates/torii/graphql/src/object/model_data.rs
  crates/torii/graphql/src/query/mod.rs
Labels: torii

#2004 feat(sozo): in build stats add bytecode and class size of casm class
  Cargo.lock
  bin/sozo/src/commands/build.rs
  crates/sozo/ops/Cargo.toml
  crates/sozo/ops/src/statistics.rs
Labels: sozo

#1878 [dojo-core] use const array for pow2
  crates/dojo-core/.tool-versions
  crates/dojo-core/src/packing.cairo
  crates/dojo-core/src/packing_test.cairo
  crates/dojo-lang/src/manifest_test_data/compiler_cairo/manifests/dev/base/dojo_world_world.toml
  crates/dojo-world/src/metadata_test.rs
  crates/katana/rpc/rpc/tests/torii.rs
  crates/torii/types-test/manifests/dev/base/dojo_world_world.toml
  examples/spawn-and-move/Scarb.toml
  examples/spawn-and-move/manifests/dev/base/dojo_world_world.toml
  examples/spawn-and-move/manifests/dev/manifest.json
  examples/spawn-and-move/manifests/dev/manifest.toml
Labels: cairo-core

#2012 fix: scarb bump for LS
  Cargo.lock
  Cargo.toml
  bin/dojo-language-server/Cargo.toml
  bin/dojo-language-server/src/main.rs
  bin/sozo/src/commands/test.rs
  bin/sozo/tests/register_test.rs
  crates/dojo-core/src/base_test.cairo
  crates/dojo-core/src/lib.cairo
  crates/dojo-core/src/world.cairo
  crates/dojo-lang/src/compiler.rs
  crates/dojo-lang/src/manifest_test_data/compiler_cairo/manifests/dev/base/dojo_world_world.toml
  crates/dojo-lang/src/scarb_internal/mod.rs
  crates/dojo-lang/src/semantics/test_utils.rs
  crates/dojo-test-utils/src/compiler.rs
  crates/dojo-world/src/contracts/model_test.rs
  crates/dojo-world/src/contracts/world_test.rs
  crates/dojo-world/src/metadata_test.rs
  crates/torii/types-test/manifests/dev/base/dojo_world_world.toml
  examples/spawn-and-move/Scarb.toml
  examples/spawn-and-move/manifests/dev/base/contracts/dojo_examples_actions_actions.toml
  examples/spawn-and-move/manifests/dev/base/dojo_world_world.toml
  examples/spawn-and-move/manifests/dev/base/models/dojo_examples_actions_actions_moved.toml
  examples/spawn-and-move/manifests/dev/base/models/dojo_examples_models_emote_message.toml
  examples/spawn-and-move/manifests/dev/base/models/dojo_examples_models_moves.toml
  examples/spawn-and-move/manifests/dev/base/models/dojo_examples_models_player_config.toml
  examples/spawn-and-move/manifests/dev/base/models/dojo_examples_models_position.toml
  examples/spawn-and-move/manifests/dev/base/models/dojo_examples_others_others_contract_initialized.toml
  examples/spawn-and-move/manifests/dev/manifest.json
  examples/spawn-and-move/manifests/dev/manifest.toml
Labels: dojo-lang

#1954 feat(dojo-bindgen): support new layout types
  bin/sozo/src/commands/build.rs
  crates/dojo-bindgen/src/plugins/typescript/mod.rs
  crates/dojo-bindgen/src/plugins/typescript_v2/mod.rs
  crates/dojo-bindgen/src/plugins/unity/mod.rs
  crates/dojo-bindgen/src/test_data/mocks/dojo_examples.ts
Labels: client
